/* background image  */

body {
    background-image: url(../images/mexifood.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
}

/* get container holding main text that is slightly transparent to see all the food and make people hungry  */

.container {
    margin: auto;
    text-align: center;
    background-color: white;
    opacity: .7;
}